*.cache
*.DS_Store
*.o
*.d
*.[Oo]bj
*.user
*.pro.user
*.aps
*.pch
*.sln
*.csproj
*.vcproj
*.vdproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.lastbuildstate
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.txt
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
*[Rr]elease*/
Ankh.NoLoad
[Bb]uild/
*.data
*.json
*.pyc
